# env and venv
.env
.venv*
*.pyc
__pycache__/

# tokens and data
DATA/
garminconnect-tokens/
cloudflare/cert.pem
reconcile.out
fetch.err
fetch.out
*.log
*.zip
*.tar.gz
*.json

# editor
.vscode/
.lintvenv/
